@font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 25 150;
    src: url("/css/fonts/Jost-VariableFont_wght.ttf") format("truetype");
  }

  h1 {
    font-family: "Jost";
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.04em;
    color: #ffffff;
    outline-offset: 0.1em;
}

h2 {
    font-family: "Jost";
    letter-spacing: 0.08em;
    margin-bottom: -1.5em;
    font-weight: 500;
    font-size: 0.7em;
    color: #ffffff; 
}

h3 {
    font-family: "Jost";
    letter-spacing: 0.08em;
    font-weight: 450;
    font-size: 1em;
    margin-bottom: 0.1em;
    color: #3B5FD9; 
}

html {
    height: 100%;
}

body {
    height: 100%;
    width:100%;  
    margin: 0; 
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background: rgb(241,245,251);
}

.dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: absolute;
    height: 100vh;
    max-height: 100vh;
    background-image: linear-gradient(120deg, #3B5FD9 0%, #4570FF 100%);
    transition: height 0.7s ease;
    overflow: hidden;
}

  .dropzone.small {
    height: 5px;
    text-indent: -9999px;
    overflow:hidden;
  }

.dropzone-text {
    text-align: center;
    margin-bottom: 1em;
}

.dropzone-note  {
    width: 100%;
    text-align: center;
    font-family: "Jost";
    letter-spacing: 0.08em;
    font-weight: 300;
    font-size: 0.9em;
    color: #ffffff; 
  }

.dropzone:hover > .dropzone-text {
    animation: shake 2s infinite;
}

@keyframes shake {
    0% { transform: translateY(0) }
    25% { transform: translateY(5px) }
    50% { transform: translateY(-5px) }
    75% { transform: translateY(5px) }
    100% { transform: translateY(0) }
   }

article {
    width: 90%;
    color: #39455a;
    flex: 1;
    padding: 2%;
}

table {
    table-layout: fixed; 
    width: 100%; 
}

thead {
    font-family: "Jost";
    letter-spacing: 0.08em;
    font-weight: 500;
    font-size: 0.7em;
    text-align: left;
    color: #39455a; 
}

tbody {
    font-family: "Jost";
    letter-spacing: 0.08em;
    font-weight: 300;
    font-size: 0.8em;
    text-align: left;
    color: #39455a; 
    border-style: solid;
    border-width: 5px;
    border-color: black;
  }

button {
    background-image: linear-gradient(120deg, #4570FF 0%, #3B5FD9 100%);
    border: none;
    text-align: center;
    font-weight: 300;
    font-size: 0.7em;
    letter-spacing: 0.07em;
    color:#ffffff;
    margin: 1em;
    width: 100px;
    padding: 10px;
    border-radius: 2em;
}
button:hover {
    transition: transform .1s ease-in-out;
    transform: scale(105%);
}

button:active {
    transition: transform .2s ease-in-out;
    transform: scale(100%);
    background-image: linear-gradient(120deg, #4570FF 0%, #4570FF 100%);
}
